// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: Gotham;
$base-font-weight: $regular;
$base-font-size: 18px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

$ranking-box-width: 19.9281867%;

// Headings
$header-font-weight: $bold;

// Colors
$ranking-bg: #D90A11;
$wualuck-red: #D90A11;
$wualuck-green: #33C278;
$wualuck-gray: #E9E9E9;
$wualuck-text-gray: #9C9B9B;

// Breakpoints
$iphone-landscape: 569px;
$iphone-vertical: 320px;
$ipad-landscape: 1024px;
$ipad-vertical: 768px;

@import "modules/all";
