.Challenge .main label {
  display: block;
  font-size: 14px;
  padding: 13px 0;
  color: #999;
  font-weight: 900;
  font-family: Gotham;
  text-transform: uppercase;
}

.Challenge .main textarea {
  background: #eee;
  border: none;
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  padding: 3px;
  outline: none;
  transition: .1s linear all;
  height: 80px;
}

.Challenge .main textarea:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
              0 0   8px rgba(217,10,17,0.3);
  outline: 0 none;
}


.Challenge .main {
  padding: 20px 50px;
}