.header {
  // position: relative;
  background: black;
  color: white;
  height: 61px;
  line-height: 61px;

  text-align: center;

  .searchBox {
    float: left;
  }

  input.Search {
    border: 0;
    border-radius: 1px;
    width: 80%;
    font-family: inherit;
    font-size: 13px;
    padding: 2px 0 0 0;
    margin: 5px 0 8px 5px;
  }

  .searchBox {
    width: 19%;
  }

  .logo {
    margin-top: 16px;
    position: absolute;
    left: 50%;
    margin-left: -60px;
  }
  a {
    color: white;
    text-decoration: none;
  }

}

.HeaderUser {
  position: absolute;
  right: 10px;

  .UserName {
    line-height: inherit;
    display: inline;
    text-transform: uppercase;
    font-family: "Gotham";
    font-size: 12px;
    font-weight: bold;
  }

  .UserPicture {
    // float: right;
    margin: 5px 20px;
    display: inline-block;
vertical-align: middle;
  }
}
