html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
}

body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

hr.small {
  width: 20px;
  display: inline-block;
  border-bottom: 2px solid black;
  text-aligh: left;
}

hr.inverted {
  margin-top: 12px;
  border-bottom-color: white;
}

a {
  outline: 0;
}

.content {
  font-size: 15.45px;
  font-weight: 300;
  width: 89.1%;
  margin: 0 auto 20px auto;

  p {
    margin-bottom: 20px;
  }
}

.small-contact-info {
  display: none;
  a {
    font-weight: 900;
    text-decoration: none;
  }
}

.active {
  display: block !important;
}

strong {
  font-weight: 600;
}


a.more-info,
a.console {
  font-family: "Inconsolata";
  color: black;
}

.clearfix { clear: both; }

.standar-text {
  text-transform: uppercase;
  font-weight: bold;
  font-family: $base-font-family;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 30px 20px 20px 20px;
  width: auto;
  max-width: 500px;
  margin: 60px auto 0 auto;
  left: auto;
  right: auto;
  @include clearfix();


  .close {
    position: absolute;
    top: -3px;
    right: 2px;
    border: none;
    background: none;
    -webkit-user-select:none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    font-size: 30px;
  }
}
.white-popup-overlay {
  background: rgba(0, 0, 0, .8);
}

.w300 { max-width: 300px; }
.w400 { max-width: 400px; }
.w500 { max-width: 500px; }
.w600 { max-width: 600px; }