.main {
  margin-left: $ranking-box-width;

  padding: 20px;
}

.Home {
  .btn-desafiar {
    background: $wualuck-green;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: Gotham;
    font-size: 23px;
    text-transform: uppercase;
    padding: 12px 0 0 0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    line-height: 50px;

    i {
      font-size: 40px;
      margin: 0 20px;
    }

    span {
      vertical-align: top;
    }
  }

}
