.RankingBox {
  width: $ranking-box-width;
  position: absolute;
  top: 0;
  bottom: 0;

  background: $ranking-bg;
}

.RankingBox {
  color: white;
  overflow-y: scroll;
}

.RankingFilterBox  {
  padding: 2px 20px 20px 20px;
}

.RankingFilterBox input {
  border: none;
  width: 69%;
  font-size: 12px;
  padding: 2px 5px;
  margin: 0 5px;
}

.RankingBox h4 {
  color: white;
  text-transform: uppercase;
  padding: 5px 0 0 20px;
  font-family: Gotham;
}

.light {
  color: black;
  background: #fff;
  display: inline-block;
  width: 73%;
  padding: 10px 0;
}

.RankingListItem  {
  overflow: hidden;
}

.RankingListItem .position {
  font-size: 40px;
  float: left;
  font-weight: 900;
  line-height: 40px;
  width: 28%;
  text-align: center;
  font-family: Gotham;
  color: #999;
}

.RankingListItem .name {
  font-size: 12px;
  color: #999;
}

.RankingListItem .votes {
  font-weight: 100;
  font-size: 30px;
  text-align: center;
  display: inline-block;
  width: 27%;
  font-family: Gotham;
}

.btn-votar {
  display: block;
  border: none;
  color: white;
  background: #999;
  font-weight: bold;
  text-transform: uppercase;
  width: 100px;
  cursor: pointer;
  font-family: Gotham;
  padding: 3px 0 2px 0;
  line-height: 1;
  outline: 0;
}

.btn-votar:hover {
  background: #888;
}