<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<%# pass = Devise.friendly_token.first(8) %>
<!-- <p>Your password is <%#= pass %></p> -->
<%# @resource.update_attributes( { :password => pass, :password_confirmation => pass }) %>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>
