@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin respondTo($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}